body {
	background-color: rgb(25, 31, 33);
	font-size: 25px;
	margin: 0px;
	font-family: Calibri;
	color : rgb(255, 233, 171);
	
}


.top-toolbar {
	font-size: 20px;
	color: rgb(127, 173, 176);
	background-color: rgb(29, 40, 41);
	text-align: center;
	display: box;
	padding-bottom: 20px;
	padding-top:20px;
	width:100%;
	
}

.toolbar {
	background-color:rgb(29, 40, 41);
	width: fit-content;
	list-style-type: none;
	margin:0;
	padding:0;
	position:relative;
	left: 50%;
	transform: translate(-50%, 0);
	top:0;
	overflow: hidden;
}

li {
	float: left;
}

a.top {
	display:block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

a.top:hover{
	background-color: rgb(67, 92, 94);
}


.top-title {
	font-size: 80px;
	margin-top: 20px;
	text-align: center;
}