body {
	background-color: black;
	font-size: 25px;
	margin: 0px;
	font-family: Calibri;
	color : #FFF200;
	
}


.top-toolbar {
	font-size: 20px;
	color: #FFF200;
	background-color: rgb(37, 37, 38);
	text-align: center;
	display: box;
	padding-bottom: 20px;
	padding-top:20px;
	width:100%;
	
}

.toolbar {
	
	background-color:rgb(37, 37, 38);
	width: fit-content;
	list-style-type: none;
	margin:0;
	padding:0;
	position:relative;
	left: 50%;
	transform: translate(-50%, 0);
	top:0;
	overflow: hidden;
}

.top-li {
	float: left;
}

a.top {
	display:block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

a.top:hover{
	background-color: #2f2f2f;
}


.top-title {
	font-size: 80px;
	margin-top: 20px;
	text-align: center;
}

.foot {
	text-align: center;
	width:100%;
	background-color: rgb(37, 37, 38);
	position: absolute;
	bottom: 0px;
}

.ath-ul {
	text-align: center;
	list-style-type: none;
	display: box;
	position:relative;
	left: 50%;
	transform: translate(-50%, 0);
	overflow: hidden;
	
}

.foot-li {
	float: left;
}

.link-f {
	color:white;
	text-decoration: none;
}

a.link-f:hover {
	color:white;
}

