:root {
    --zolty: #FFF200;
    --szary1: #202020;
    --szary2: #2f2f2f;
}
body {
    color: var(--zolty);
    font: 16px/1.5em "Secular one",sans-serif;
    background-color: black;
    background-image: url(piorun.png);
}
.main-container {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0);
    width: 80%;
    min-height: 100%;
    background-color: black;
}
.top,.center,.footer,#powitajlo,.autorzy-container {
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    position: relative;
    margin: 10px;
}
.top {
    height: 220px;
}
.center {
    height: fit-content;
}
.footer {
    height: fit-content;
}
.logo-container {
    width: 80%;
    left: 50%;
    transform: translate(-50%,0);
    position: relative;
    height: fit-content;
    overflow: hidden;
}
#logo {
    height: 100px;
    left: 50%;
    transform: translate(-50%,0);
    position: relative;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

#powitajlo {
    text-align: center;
    color: var(--zolty);
    width: 80%;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
    background-color: var(--szary1);
    position: absolute;
    bottom: 0px;
}
.patchnotes {
    margin: 10px 0px 10px 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: 80%;
    height: 250px;
    overflow: hidden;
    background-color: var(--szary1);
    color: var(--zolty);
    
}
.patchnotes:hover {
    /*background-color: #202020;*/
    background-color: var(--szary2);
}

.patch-zdjecie-container {
    float: left;
    height: 100%;
    width: 50%;
}
.krotki-opis-patcha-container {
    float: right;
    height: 100%;
    width: 50%;
    overflow: auto;
}
.patch-zdjecie {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 90%;
    max-height: 90%;
}
.krotki-opis-patcha {
    padding-right: 5px;
}
.autorzy-container {
    width: 80%;
    background-color: #202020;
    margin: 10px 0px 10px 0px;
}
.autorzy {
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}
.patchnotes-link {
    color: var(--zolty);
    text-decoration: 1px underline var(--zolty);
}
.toolbar {
    
    height: fit-content;
    width: fit-content;
    left: 50%;
    transform: translate(-50%,0);
    position: relative;
    /*position: relative;
    top: 50%;
    transform: translate(0,-50%);*/
}
.button {
    float: left;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin-right: 5px;
    color: var(--zolty);
    
    
}
.button:hover {
    background-color: var(--szary2);
}
.autorzy-lista {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}